{% extends 'base.html' %}
{% block content %}
<div class="w-full ">
    <h3 class="card-title">Register</h3>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
        </label>
        {{ register_form.username }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Email
        </label>
        {{ register_form.email }}
    </div>
    <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
        </label>
        {{ register_form.password1 }}
    </div>
    <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
        </label>
        {{ register_form.password2 }}
    </div>
    <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Register
        </button>
    </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
    &copy; 2023 My Website. All rights reserved.
    </p>
</div>

{% endblock %}